.stripe-0 {
    background: repeating-linear-gradient(
            -45deg,
            rgba(0, 0, 0, 0.025),
            rgba(0, 0, 0, 0.025) 10px,
            rgba(0, 0, 0, 0.05) 10px,
            rgba(0, 0, 0, 0.05) 20px
    )
}

.stripe-7 {
     color: white;
     background: repeating-radial-gradient(
             circle,
             purple,
             purple 10px,
             #4b026f 10px,
             #4b026f 20px
     );
 }

.stripe-8 {
    color: white;
    background: repeating-radial-gradient(
            circle,
            lightgray,
            lightgray 10px,
            #ccc 10px,
            #ccc 20px
    );
}